<div>
  <nav class="navbar mediumnavigation fixed-top">
    <ul id="menu-td-demo-top-menu" class="navbar-nav">
      <li id="menu-item-3895" class="nav-item">
        <span class="btn" (click)="toggleSidebar()"></span>
      </li>
      <li id="menu-item-3898" class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-home fa-fw"></i>
        </a>
      </li>
      <li id="menu-item-1028" class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li id="menu-item-1029" class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li id="menu-item-2432" class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li id="menu-item-2432" class="nav-item">
        <input type="text" name="search" class="search">
      </li>
    </ul>
  </nav>
  <app-left-sidebar></app-left-sidebar>
</div>