.mediumnavigation {
    background: rgba(255, 255, 255, .97);
    box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, .15);
}

.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 65px;
    z-index: 1030;
    transition: 0.6s all;
}

.navbar {}

.no-navbar {
    top: 0;
    right: 0;
    left: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5em 1em;
    color: #34495e;
}

.mediumnavigation .nav-item {
    font-size: .9rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.btn {
    cursor: pointer;
    color: #2c3e50;
    font-family: FontAwesome;
    display: block;
    border: none;
    outline: none;
}

.btn:focus {
    display: block;
    border: none;
    outline: none;
}

.btn::before {
    content: '\f0c9';
    font-family: FontAwesome;
}

.btnc::before {
    content: '\f00d';
    font-family: FontAwesome;
    outline: none;
    border: none;
}

input[type=text] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    border-radius: 25px;
    border:1px solid #2c3e50;
}

input[type=text]:focus {
    width: 250px;
}