
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgb(22, 19, 19);
    opacity:0.8;
    z-index:1001;
    
}
.overlay-message{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 800px;
    height: 100px;
    color: #fff;
    z-index: 9999;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    padding: 30px 90px;
}


.overlay-message i{
    font-size: 30px;
    color:red;
}

.overlay-message h1 {
    position: relative;
    color: rgba(0, 0, 0, .3);
    /* color: rgba(241, 241, 241, .3); */
    font-size: 5em
}
.overlay-message h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}