.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(22, 19, 19);
    opacity: 0.8;
    z-index: 1001;
}

.overlay-message {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 250px;
    color: #fff;
    z-index: 9999;
    overflow: hidden;
}

.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(22, 19, 19);
    opacity: 0.8;
    z-index: 1001;
}

.login-container .login-box {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 500px;
    height: 400px;
    background-color: rgba(39, 38, 38,0.9);
}

.login-box input {
    background: none;
    outline: none;
    border: none;
}

.login-box h1 {
    color: #fff;
    font-size: 25px;
    margin: 10px 160px;
    border-bottom: 5px solid seagreen;
    padding: 8px 120px 11px 51px;
    width: 120px;
}

.login-box input[type="text"]{
    border-bottom: 2px solid red;
    color: #fff;
    margin: 10px 36px;
    width: 422px;
}

.login-box input[type="password"] {
    border-bottom: 2px solid red;
    color: #fff;
    margin: 10px 36px;
    width: 422px;
}

.login-container .login-box .login-btn {
    border: 0;
    background: #000;
    color: #fff;
    width: 250px;
    height: 48px;
    border-radius: 25px;
}

.login-container .login-box .reg-btn {
    border: 0;
    background: #000;
    color: #fff;
    width: 250px;
    height: 48px;
    border-radius: 25px;
}