<div>
  <button type="button" class="btn" (click)="toggleSidebar()"></button>
  <div class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['/dashboard']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-dashboard fa-fw"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user fa-fw"></i>
        </a>

      </li>

    </ul>

  </div>


</div>