<div>
  <button type="button" class="btn" (click)="toggleSidebar()"></button>
  <div class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['/dashboard']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-dashboard fa-fw"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/about']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-anchor fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/trains']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-train fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/trainstation']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-automobile fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/station']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-bath fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/division']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-bell-o fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/bug']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-bug fa-fw"></i>
        </a>

      </li>

      <li>
        <a [routerLink]="['/dashboard/bolt']"  routerLinkActive='cstmactive' [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-bolt fa-fw"></i>
        </a>

      </li>

    </ul>

  </div>


</div>