/* You can add global styles to this file, and also import other style files */

body,html{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    font-family: sans-serif;
}

.wrapper {
    width: 98%;
}

.page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    transition:0.8s all;
}
.no-page-wrapper {
    margin: 0px!important;
}

@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        margin: 70px 0 0 65px;
        padding: 0 30px;
        border-left: 2px solid #e7e7e7;
        min-height: 700px;
    }
}

.cstmactive{
    background: #2c3e50;
    opacity: 0.6;
    transition: 0.8s all;
    border-right:5px solid #fff;
}